.jumbotron {
    margin-top:10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.newGoLink{
    margin-bottom: 10px;
}
.edit-row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-button-row{
    margin-top: 5px;
    margin-bottom: 5px;
}